/* button link style */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #3868fb; /* Button background color on hover */
}
